<div id="container">
  <div id="header-container">

    <h2>merb_mart</h2>
    <hr />
    
    <ul>
       
    </ul>
    
  </div>

  <div id="left-container">
      <h3></h3>
      
      <h4></h4>
      
      <ul>
          
      </ul>
      
     
      
  </div>

  <div id="main-container">


  </div>

  <div id="footer-container">
    <hr />
    <div class="left">
        <ul>
            <li>Home</li>
            <li>About this Website</li>
            <li>Links</li>
        </ul>
        
    </div>
    <div class="right">&copy; 2008 STORE_NAME</div>
    <p>&nbsp;</p>
  </div>
</div>